{
  "presets": [
    "env",
    "react",
    "stage-3"
  ],
  "plugins": [
    "transform-es2015-modules-commonjs",
    "lodash",
    [
      "transform-runtime", {
      "helpers": true,
      "polyfill": true,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }
    ]
  ]
}
